@use 'variables'
@use 'mixins'

html, body
    background-color: variables.$background-color-main
    margin: 0 auto
    overflow-x: hidden
    font-family: variables.$font-family-body

h1, h2, h3, h4, h5, h6
    margin: 1rem 0

ul 
    padding-inline-start: 0

    li 
        list-style-type: none

a
    text-decoration: none
    color: variables.$dark-blue
    text-transform: uppercase

/* p
    padding: 4rem 0 */

button
    cursor: pointer
    border: none

input
    border: none
    outline: none

.icon-container
    @include mixins.flex-center

.container
    padding-top: 4rem

/* Header component + children */

.header-container
    @include mixins.flex-start-space-between

    .header-logo
        img
            width: variables.$image-size-large
            height: auto
            position: relative
            z-index: 10

    .header-bg
        position: relative
        top: 0
        right: 0

        img
            width: variables.$image-size-Xlarge
            height: fit-content
            position: absolute
            right: 0

    .header-nav
        border: 1px solid variables.$pink-border
        padding: 0.5rem 2rem
        border-radius: 2rem
        position: absolute
        top: 13%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 2

        a:hover
            color: variables.$pink-border
            transition: color 0.3s ease-in-out

/* NavItemProps component */

.nav-item-props-container
    width: fit-content

    ul
        @include mixins.flex-center
        gap: 3rem

/* MobileNav */

.header-mobile-nav
    display: none

.mobile-nav-open
    @include mixins.flex-column-start
    justify-content: space-between
    align-items: center
    width: 70vw
    height: 100vh
    position: fixed
    top: 0
    left: 0
    background-color: variables.$background-color-main
    border: 1px solid variables.$pink-border
    border-radius: 0 1rem 1rem 0
    z-index: 4
    overflow: hidden

    ul
        @include mixins.flex-column-center
        gap: 2rem
        position: relative
        z-index: 5
        padding: 2rem 2rem 0 2rem
    
    img
        display: flex
        transform: rotate(180deg)
        object-fit: contain
        width: 100vw
        height: 100%

    .mobile-close-btn 
        position: absolute
        top: 1rem
        right: 1rem
        border: none
        cursor: pointer
        z-index: 10 
        

    .mobile-nav-image
        @include mixins.flex-center
        width: 100%

        img
            width: 100%
            height: auto
            object-fit: contain
            position: absolute
            top: 0
            right: 0
            transform: rotate(0deg)

.open-menu-icon, .mobile-close-btn
    background-color: variables.$background-color-main
    padding: 0.5rem
    z-index: 3
    top: 3%
    right: 10%
    position: absolute
    border-radius: 10px


.open-menu-icon 
    &.open 
        background-color: transparent
        box-shadow: none

.overlay 
    position: fixed
    inset: 0
    background: rgba(0, 0, 0, 0)
    pointer-events: none
    opacity: 0
    transition: opacity 0.3s ease

.overlay--visible 
    pointer-events: all
    opacity: 0.9
    background: rgba(0, 0, 0, 0.275)

/* Text component */

.text-container
    .text-content
        text-align: center
        padding: 1rem 2rem

/* Home */

.home-container
    .home-text
        padding: 2rem 0

    img
        width: 100%
        height: 80vh
        object-fit: cover
        object-position: top
        /* box-shadow: variables.$box-shadow */

.home-container, .footer-container
    h1
        font-size: variables.$font-size-small
        font-weight: 300
        text-transform: uppercase

    h2
        font-size: variables.$font-size-large

    .home-link-container
        position: relative
        img
            object-position: center

        h1
            @include mixins.absolute-center
            @include mixins.bold-heading-XXlarge

/* Work Page */

.work-container
    p
        font-size: variables.$font-size-small
        font-weight: 300


.media-cover-container
    display: flex
    justify-content: space-between
    min-width: 90%
    height: 50vh
    padding: 0
    margin: 0 auto

    .media-cover-card
        max-width: 19.5vw
        flex-grow: 1
        position: relative
        transition: all 0.3s ease
        border-color: variables.$pink-border-rgba

        .media-cover-card-cover
            img
                border-radius: 6px

        .media-cover-card-title
            @include mixins.absolute-center
            @include mixins.bold-heading-large


/* Icons SVG */

.icons-svg-container, .footer-container
    @include mixins.flex-center
    gap: 2rem

/* Footer */

.footer-container
    @include mixins.flex-space-between
    padding: 2rem 4rem 2rem 2.5rem

/* Date time picker */

.date-time-picker-container
    display: flex

    .date-time-picked
        display: flex
        flex-direction: column

.image-preview 
    margin-top: 0.75rem


.image-preview img 
    width: 120px
    height: auto
    border-radius: 8px
    object-fit: cover
    border: 1px solid #ddd


/* Media queries */

@media (max-width: variables.$breakpoint-lg-md)

    .media-cover-container
        display: flex
        flex-direction: column
        gap: 1rem
        min-width: 90%


        .media-cover-card
            max-width: 100%

@media (max-width: variables.$breakpoint-md-sm)
    .header-mobile-nav
        display: block

    .header-nav
        display: none

    .container
        padding-top: 2rem

    .footer-container, .work-container
        @include mixins.flex-column-center
        padding: 0

    .footer-container
        margin-bottom: 2rem

    
            